{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}{{product.title}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container">

	<div class="card w100">
		<div class="card-body">
			<h1 class="card-title">{{product.title}}</h1>

			<ul class="">
				<li class="">Description : {{ product.description }}</li>
				<li class="">Prix : {{ product.cost }}</li>
				<li class="">Poids : {{ product.weight }}</li>
			</ul>
			<a class="btn btn-primary" href={{url_for('product.quotation', productid=product.id)}}>Faire un devis</a>
		</div>
	<div>
</div>

{% endblock %}
