{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Achat {{product.title}}{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="container">
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Devis {{product.title}}</h1>

			<ul class="list-unstyled row">
				<li class="col-md-6">Prix unitaire : {{product.cost.format()}}</li>
				<li class="col-md-6">Poids unitaire : {{product.weight}}kg</li>
			</ul>
			<hr/>

			{{ wtf.quick_form(form) }}

			{% if quote %}
			<hr/>
			<h2>Résultat</h2>
			<ul class="list-unstyled row">
				<li class="col-md-6">Prix produits : {{quote.product_cost.format()}}</li>
				<li class="col-md-6">Poids total : {{quote.total_weight}}kg</li>
				<li class="col-md-6">Frais de livraisons : {{quote.shipping_cost.format()}}</li>
			</ul>
			<h5 class="">Prix total : {{quote.total_cost.format()}}</h5>
		</div>

		{% endif %}
	</div>
</div>

{% endblock %}
